@font-face {
    font-family: surf;
    src: url(Surfing\ Capital.ttf);
}
@font-face {
    font-family:heavitas;
    src: url(Heavitas.ttf);
}
@font-face {
    font-family: creato;
    src: url(CreatoDisplay-Light.otf);
}
nav{
    margin-left: 4%;
    margin-top:1%;
    font-family: akira;
    font-size: 90%;
}

body{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(224, 192, 143),rgba(47, 31, 7, 0.892));    
}
.text{
    text-align: center;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 13%;
}
h3{
    font-size: 450%;
    font-family: surf;
    font-weight: lighter;
}
h4{
    font-size: 220%;
    font-weight: lighter;
    font-family: heavitas;
}
h5{
    font-family: heavitas;
    font-weight: lighter;
}
p{
    font-size:100%;
    font-family: creato;
    font-weight: 50;
}
button{
    color: white;
    background-color: none;
}
img{
    padding: 2%;
    border-radius: 10px;
}
@media screen and(min-width:1024px){
    nav{
        font-size: 100%;
    }
    h3{
        font-size: 70px;
        margin-left: 4%;
        margin-right: 4%;
    }
    h4{
        font-size: 50px;
        margin-left: 4%;
        margin-right: 4%;
    }
    h5{
        font-size: 50px;
        margin-left: 4%;
        margin-right: 4%;
    }
    p{
        font-size: 15px;
        margin-left: 4%;
        margin-right: 4%;
    }
}